In [1]:
import numpy as np
import pandas as pd

In [2]:
targets = pd.read_csv('../alt_data/target_data/target_data.csv')
leisure = pd.read_csv('../alt_data/target_data/target_leisure_hospitality.csv')

In [3]:
targets.rename(columns={
    'USTRADE': 'target_retail',
    'USMINE': 'target_mining_logging',
    'USCONS': 'target_construction',
    'USEHS': 'target_edu_health',
    'MANEMP': 'target_manufacturing',
    'USPBS': 'target_prof_business',
    'USGOVT': 'target_gov'
}, inplace=True)

In [4]:
leisure.rename(columns={
    'USLAH':'target_leisure_hospitality'
}, inplace=True)

In [5]:
leisure['DATE'] = pd.to_datetime(targets['DATE']).dt.to_period('M')
targets['DATE'] = pd.to_datetime(targets['DATE']).dt.to_period('M')

In [6]:
targets.set_index('DATE', inplace=True)

In [7]:
leisure.set_index('DATE', inplace=True)

In [8]:
targets = pd.merge(targets, leisure, left_index=True, right_index=True)

In [9]:
targets.head()

,target_retail,target_mining_logging,target_construction,target_edu_health,target_manufacturing,target_prof_business,target_gov,target_leisure_hospitality
DATE,,,,,,,,
1939-01,3107.8,882,1139,1381,9077,1943,3988,1860
1939-02,3121.8,884,1162,1384,9175,1950,4001,1867
1939-03,3139.7,883,1225,1387,9275,1958,4002,1877
1939-04,3154.8,624,1249,1389,9309,1957,4002,1887
1939-05,3151.7,737,1262,1399,9299,1968,4006,1888

In [10]:
targets.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 986 entries, 1939-01 to 2021-02
Freq: M
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   target_retail               986 non-null    float64
 1   target_mining_logging       986 non-null    int64
 2   target_construction         986 non-null    int64
 3   target_edu_health           986 non-null    int64
 4   target_manufacturing        986 non-null    int64
 5   target_prof_business        986 non-null    int64
 6   target_gov                  986 non-null    int64
 7   target_leisure_hospitality  986 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 101.6 KB

In [11]:
# targets.to_csv('../alt_data/all_targets_data.csv')