In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
monthly_list = os.listdir('../alt_data/monthly_data/')
monthly_list

['avg_weeks_unemp.csv',
 'cont_claim_insur_unemp.csv',
 'employ_level.csv',
 'gov_unemp_insur.csv',
 'labor_force_partic_rate.csv',
 'loans.csv',
 'm1_real.csv',
 'num_unemp_timeframe.csv',
 'personal_consump_exp.csv',
 'personal_save_rate.csv',
 'unemp_rate_emp_pop_ratio.csv']

In [3]:
list_of_dfs=[]

for csv in monthly_list:
    list_of_dfs.append(pd.read_csv(f'../alt_data/monthly_data/{csv}'))

In [4]:
monthly = list_of_dfs[0].merge(list_of_dfs[1], how='left', on='DATE')
len(monthly)

878

In [5]:
for i in range(2, len(list_of_dfs)):
    if len(monthly) >= len(list_of_dfs[i]):
        monthly = monthly.merge(list_of_dfs[i], how='left', on='DATE')
    else:
        monthly = monthly.merge(list_of_dfs[i], how='right', on='DATE')

In [6]:
monthly.rename(columns={
    'UEMPMEAN':'avg_weeks_unemployed',
    'CCSA':'cont_claims_insur_unemploy',
    'CE16OV':'full_employ_level',
    'LNS12032194':'part_employ_level',
    'LNS15000000':'not_in_labor_force',
    'W825RC1':'gov_unemp_insur',
    'LNS11300002':'labor_particip_women',
    'LNS11300001':'labor_particip_men',
    'CIVPART':'labor_particip_total',
    'REALLN':'real_estate_loans',
    'CONSUMER':'consumer_loans',
    'BUSLOANS':'commerc_indust_loans',
    'M1REAL':'m1_real',
    'UEMPLT5':'unemp_less_five_weeks',
    'UEMP5TO14':'unemp_5_to_14_wks',
    'UEMP15T26':'unemp_15_to_26_wks',
    'UEMP27OV':'unemp_over_27_wks',
    'PCE':'personal_consum_exp',
    'PSAVERT':'personal_save_rate',
    'EMRATIO':'emp_pop_ratio',
    'UNRATE':'unemploy_rate',
    'IURSA':'insured_unemploy_rate'
}, inplace=True)

In [7]:
monthly['not_in_labor_force'].replace('.', np.nan, inplace=True)

In [11]:
monthly.dropna(inplace=True)

In [17]:
monthly['DATE'] = pd.to_datetime(monthly['DATE']).dt.to_period('M')

In [18]:
monthly.set_index('DATE', inplace=True)

In [24]:
monthly['cont_claims_insur_unemploy'] = monthly['cont_claims_insur_unemploy'].astype(float)

In [26]:
monthly['part_employ_level'] = monthly['part_employ_level'].astype(float)

In [27]:
monthly['not_in_labor_force'] = monthly['not_in_labor_force'].astype(float)

In [28]:
monthly['emp_pop_ratio'] = monthly['emp_pop_ratio'].astype(float)

In [29]:
monthly['unemploy_rate'] = monthly['unemploy_rate'].astype(float)

In [30]:
monthly['insured_unemploy_rate'] = monthly['insured_unemploy_rate'].astype(float)

In [31]:
monthly.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 554 entries, 1975-01 to 2021-02
Freq: M
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   avg_weeks_unemployed        554 non-null    float64
 1   cont_claims_insur_unemploy  554 non-null    float64
 2   full_employ_level           554 non-null    float64
 3   part_employ_level           554 non-null    float64
 4   not_in_labor_force          554 non-null    float64
 5   gov_unemp_insur             554 non-null    float64
 6   labor_particip_women        554 non-null    float64
 7   labor_particip_men          554 non-null    float64
 8   labor_particip_total        554 non-null    float64
 9   real_estate_loans           554 non-null    float64
 10  consumer_loans              554 non-null    float64
 11  commerc_indust_loans        554 non-null    float64
 12  m1_real                     554 non-null    float64
 13  unemp_less_five_weeks       554 non-null    float64
 14  unemp_5_to_14_wks           554 non-null    float64
 15  unemp_15_to_26_wks          554 non-null    float64
 16  unemp_over_27_wks           554 non-null    float64
 17  personal_consum_exp         554 non-null    float64
 18  personal_save_rate          554 non-null    float64
 19  emp_pop_ratio               554 non-null    float64
 20  unemploy_rate               554 non-null    float64
 21  insured_unemploy_rate       554 non-null    float64
dtypes: float64(22)
memory usage: 99.5 KB

In [33]:
monthly.head()

,avg_weeks_unemployed,cont_claims_insur_unemploy,full_employ_level,part_employ_level,not_in_labor_force,gov_unemp_insur,labor_particip_women,labor_particip_men,labor_particip_total,real_estate_loans,...,m1_real,unemp_less_five_weeks,unemp_5_to_14_wks,unemp_15_to_26_wks,unemp_over_27_wks,personal_consum_exp,personal_save_rate,emp_pop_ratio,unemploy_rate,insured_unemploy_rate
DATE,,,,,,,,,,,,,,,,,,,,,
1975-01,10.7,3619250.0,85627.0,4133.0,58627.0,12.0,46.3,78.3,61.4,130.0257,...,523.7,3293.0,2646.0,930.0,625.0,975.6,13.2,56.4,8.1,5.500
1975-02,11.7,3856500.0,85256.0,3994.0,59214.0,14.0,45.9,78.0,61.0,130.6318,...,522.8,2947.0,2616.0,1124.0,717.0,989.4,12.5,56.1,8.1,5.875
1975-03,11.8,4175200.0,85187.0,4087.0,59052.0,16.5,46.2,78.0,61.2,131.1786,...,523.5,3193.0,2630.0,1305.0,769.0,990.6,12.7,56.0,8.6,6.340
1975-04,12.9,4473500.0,85189.0,4179.0,59044.0,18.8,46.3,78.1,61.3,131.6391,...,521.1,2915.0,2719.0,1478.0,964.0,995.0,14.2,55.9,8.8,6.750
1975-05,13.4,4578200.0,85451.0,3972.0,58820.0,19.6,46.4,78.3,61.5,131.7233,...,525.8,3051.0,2692.0,1554.0,1089.0,1018.9,17.3,56.0,9.0,6.880

In [46]:
leisure = pd.read_csv('../alt_data/leisure_data.csv')
leisure['DATE'] = pd.to_datetime(leisure['DATE']).dt.to_period('M')
leisure.set_index('DATE', inplace=True)
leisure['target_leisure_hospitality'] = leisure['target_leisure_hospitality'].astype(float)
leisure

         target_leisure_hospitality
DATE
1939-01                      1860.0
1939-02                      1867.0
1939-03                      1877.0
1939-04                      1887.0
1939-05                      1888.0
...                             ...
2020-10                     13622.0
2020-11                     13632.0
2020-12                     13134.0
2021-01                     13109.0
2021-02                     13464.0

[986 rows x 1 columns]

In [62]:
monthly = pd.merge(monthly, leisure, how='left', left_index=True, right_index=True)

In [66]:
# monthly.to_csv('../alt_data/monthly_data_3.csv')