In [1]:
import numpy as np
import pandas as pd

In [2]:
profit = pd.read_csv('../alt_data/quarterly_data/corp_profit_before_after_tax.csv')
debt = pd.read_csv('../alt_data/quarterly_data/fed_debt_as_percent_gdp.csv')
m1 = pd.read_csv('../alt_data/quarterly_data/m1_velocity_quarter.csv')

In [3]:
profit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             296 non-null    object
 1   CP               296 non-null    float64
 2   CPATAX           296 non-null    float64
 3   A053RC1Q027SBEA  296 non-null    float64
dtypes: float64(3), object(1)
memory usage: 9.4+ KB

In [4]:
debt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         220 non-null    object
 1   GFDEGDQ188S  220 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.6+ KB

In [5]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    248 non-null    object
 1   M1V     248 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.0+ KB

In [6]:
quarter = pd.merge(profit, debt, how='left', on='DATE')

In [7]:
quarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 295
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             296 non-null    object
 1   CP               296 non-null    float64
 2   CPATAX           296 non-null    float64
 3   A053RC1Q027SBEA  296 non-null    float64
 4   GFDEGDQ188S      220 non-null    float64
dtypes: float64(4), object(1)
memory usage: 13.9+ KB

In [8]:
quarter = pd.merge(quarter, m1, how='left', on='DATE')

In [9]:
quarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 295
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             296 non-null    object
 1   CP               296 non-null    float64
 2   CPATAX           296 non-null    float64
 3   A053RC1Q027SBEA  296 non-null    float64
 4   GFDEGDQ188S      220 non-null    float64
 5   M1V              248 non-null    float64
dtypes: float64(5), object(1)
memory usage: 16.2+ KB

In [10]:
quarter

           DATE        CP    CPATAX  A053RC1Q027SBEA  GFDEGDQ188S    M1V
0    1947-01-01    21.970     9.959           33.466          NaN    NaN
1    1947-04-01    20.788    13.603           31.668          NaN    NaN
2    1947-07-01    20.564    13.868           31.288          NaN    NaN
3    1947-10-01    22.451    14.455           34.123          NaN    NaN
4    1948-01-01    23.739    17.971           35.747          NaN    NaN
..          ...       ...       ...              ...          ...    ...
291  2019-10-01  2000.736  1998.944         2313.064    106.68579  5.486
292  2020-01-01  1739.103  1779.480         1994.653    107.71144  5.247
293  2020-04-01  1557.064  1589.360         1793.842    135.64081  1.555
294  2020-07-01  2118.856  2018.481         2426.105    127.27950  1.248
295  2020-10-01  2082.470  1951.445         2425.326    129.09116  1.220

[296 rows x 6 columns]

In [11]:
quarter.to_csv('../alt_data/quarter_data.csv', index=False)