In [1]:
import pandas as pd
import os
pd.set_option('display.max_rows', 10)

In [2]:
file_list = os.listdir('../../alt_data/old_quarterly_data/') 
number_files = len(file_list)
print (number_files)

24

In [3]:
file_list

['.ipynb_checkpoints',
 'A072RC1Q156SBEA.csv',
 'BUSLOANS.csv',
 'CE16OV.csv',
 'CIVPART.csv',
 'CONSUMER.csv',
 'CP.csv',
 'DPCCRC1M027SBEA.csv',
 'ECOMPCTSA.csv',
 'GOAI.csv',
 'HDTGPDUSQ163N.csv',
 'IURSA.csv',
 'LES1252881600Q.csv',
 'LNS15000000.csv',
 'M1V.csv',
 'merged_df.csv',
 'PCE.csv',
 'PSAVERT.csv',
 'RRVRUSQ156N.csv',
 'TDSP.csv',
 'UEMP27OV.csv',
 'UEMPMEAN.csv',
 'UNRATE.csv',
 'W825RC1.csv']

In [4]:
df1 = pd.read_csv("../../alt_data/old_quarterly_data/A072RC1Q156SBEA.csv", index_col='DATE')
df2 = pd.read_csv("../../alt_data/old_quarterly_data/BUSLOANS.csv", index_col='DATE')
df3 = pd.read_csv("../../alt_data/old_quarterly_data/CE16OV.csv", index_col='DATE')
df4 = pd.read_csv("../../alt_data/old_quarterly_data/CIVPART.csv", index_col='DATE')
df5 = pd.read_csv("../../alt_data/old_quarterly_data/CONSUMER.csv", index_col='DATE')
df6 = pd.read_csv("../../alt_data/old_quarterly_data/CP.csv", index_col='DATE')
df7 = pd.read_csv("../../alt_data/old_quarterly_data/DPCCRC1M027SBEA.csv", index_col='DATE')
df8 = pd.read_csv("../../alt_data/old_quarterly_data/ECOMPCTSA.csv", index_col='DATE')
df9 = pd.read_csv("../../alt_data/old_quarterly_data/GOAI.csv", index_col='DATE')
df10 = pd.read_csv("../../alt_data/old_quarterly_data/HDTGPDUSQ163N.csv", index_col='DATE')
df11 = pd.read_csv("../../alt_data/old_quarterly_data/IURSA.csv", index_col='DATE')
df12 = pd.read_csv("../../alt_data/old_quarterly_data/LES1252881600Q.csv", index_col='DATE')
df13 = pd.read_csv("../../alt_data/old_quarterly_data/LNS15000000.csv", index_col='DATE')
df14 = pd.read_csv("../../alt_data/old_quarterly_data/M1V.csv", index_col='DATE')
df15 = pd.read_csv("../../alt_data/old_quarterly_data/PCE.csv", index_col='DATE')
df16 = pd.read_csv("../../alt_data/old_quarterly_data/PSAVERT.csv", index_col='DATE')
df17 = pd.read_csv("../../alt_data/old_quarterly_data/RRVRUSQ156N.csv", index_col='DATE')
df18 = pd.read_csv("../../alt_data/old_quarterly_data/TDSP.csv", index_col='DATE')
df19 = pd.read_csv("../../alt_data/old_quarterly_data/UEMP27OV.csv", index_col='DATE')
df20 = pd.read_csv("../../alt_data/old_quarterly_data/UEMPMEAN.csv", index_col='DATE')
df21 = pd.read_csv("../../alt_data/old_quarterly_data/UNRATE.csv", index_col='DATE')
df22 = pd.read_csv("../../alt_data/old_quarterly_data/W825RC1.csv", index_col='DATE')

In [5]:
df_merged_all = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22],axis = 1, )

In [6]:
df_merged_all

,A072RC1Q156SBEA,BUSLOANS,CE16OV,CIVPART,CONSUMER,CP,DPCCRC1M027SBEA,ECOMPCTSA,GOAI,HDTGPDUSQ163N,...,LNS15000000,M1V,PCE,PSAVERT,RRVRUSQ156N,TDSP,UEMP27OV,UEMPMEAN,UNRATE,W825RC1
DATE,,,,,,,,,,,,,,,,,,,,,
1947-01-01,7.4,11.5246666666666667,NaN,NaN,4.2961333333333333,21.970,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-04-01,5.0,12.2629666666666667,NaN,NaN,4.7079666666666667,20.788,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-07-01,7.1,13.0715000000000000,NaN,NaN,5.1155666666666667,20.564,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-10-01,5.8,13.9112666666666667,NaN,NaN,5.5139000000000000,22.451,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948-01-01,6.9,14.5712666666666667,57976.000000000000,58.6666666666666667,5.9029333333333333,23.739,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,119.6666666666666667,8.6666666666666667,3.7333333333333333,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01,9.6,2431.6499666666666667,157642.333333333333,63.1000000000000000,1600.7037333333333333,1739.103,12890.5666666666666667,11.8,37826784.0,76.450,...,95754.666666666667,5.247,14545.466666666667,9.6000000000000000,6.6,9.772801,1154.0000000000000000,19.9000000000000000,3.8000000000000000,43.4333333333333333
2020-04-01,26.0,2967.9755666666666667,137564.666666666667,60.8000000000000000,1529.4472333333333333,1557.064,11519.7333333333333333,16.1,34260023.0,84.672,...,101890.666666666667,1.555,13097.3666666666666667,25.8000000000000000,5.7,8.797166,1188.3333333333333333,10.6666666666666667,13.0666666666666667,1084.5666666666666667
2020-07-01,15.7,2809.0195666666666667,146198.666666666667,61.5333333333333333,1517.4099000000000000,2118.856,12755.9666666666666667,14.2,36942491.0,79.360,...,100230.666666666667,1.248,14401.533333333333,15.7000000000000000,6.4,9.159511,1827.0000000000000000,19.4333333333333333,8.8000000000000000,775.1333333333333333
2020-10-01,13.0,2654.2818000000000000,149769.333333333333,61.5333333333333333,1520.5936000000000000,2082.470,12895.1000000000000000,14.0,37920463.0,NaN,...,100472.666666666667,1.220,14537.000000000000,13.0333333333333333,6.5,9.406957,3806.3333333333333333,22.6000000000000000,6.7666666666666667,296.4666666666666667
2021-01-01,NaN,.,.,.,.,NaN,.,NaN,NaN,NaN,...,.,NaN,.,.,NaN,NaN,.,.,.,.

In [7]:
file_list

['.ipynb_checkpoints',
 'A072RC1Q156SBEA.csv',
 'BUSLOANS.csv',
 'CE16OV.csv',
 'CIVPART.csv',
 'CONSUMER.csv',
 'CP.csv',
 'DPCCRC1M027SBEA.csv',
 'ECOMPCTSA.csv',
 'GOAI.csv',
 'HDTGPDUSQ163N.csv',
 'IURSA.csv',
 'LES1252881600Q.csv',
 'LNS15000000.csv',
 'M1V.csv',
 'merged_df.csv',
 'PCE.csv',
 'PSAVERT.csv',
 'RRVRUSQ156N.csv',
 'TDSP.csv',
 'UEMP27OV.csv',
 'UEMPMEAN.csv',
 'UNRATE.csv',
 'W825RC1.csv']

In [8]:
df_merged_all.rename(columns={
    'A072RC1Q156SBEA': 'personal_saving_as_%_of_income',
    'BUSLOANS': 'commercial_and_industrial_loans',
    'CE16OV': 'employment_level',
    'CIVPART': 'labor_force_participation_rate',
    'CONSUMER': 'consumer_loans',
    'CP': 'corporate_profits_after_tax',
    'DPCCRC1M027SBEA': 'personal_consumtion_expendatures',
    'ECOMPCTSA': 'ecommerce_retail_sales',
    'GOAI': 'gross_output_of_all_industries',
    'HDTGPDUSQ163N': 'household_debt_to_gdp',
    'IURSA': 'insured_unemployment_rate',
    'LES1252881600Q': 'median_weekly_real_earnings',
    'LNS15000000': 'not_in_labor_force',
    'M1V': 'velocity_of_M1_money_stock',
    'PCE': 'personal_consumtion_expendatures',
    'PSAVERT': 'personal_savings_rate',
    'RRVRUSQ156N': 'rental_vacancy_rate',
    'TDSP': 'household_debt_service_payments',
    'UEMP27OV': 'number_unemployed_for_27_weeks',
    'UEMPMEAN': 'average_weeks_unemployed',
    'UNRATE': 'unemployment_rate',
    'W825RC1': 'goverment_unemployment_insurance',
}, inplace=True)

In [9]:
df_merged_all.index

Index(['1947-01-01', '1947-04-01', '1947-07-01', '1947-10-01', '1948-01-01',
       '1948-04-01', '1948-07-01', '1948-10-01', '1949-01-01', '1949-04-01',
       ...
       '2018-10-01', '2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01',
       '2020-01-01', '2020-04-01', '2020-07-01', '2020-10-01', '2021-01-01'],
      dtype='object', name='DATE', length=297)

In [10]:
# merged_df = df_merged_all.to_csv('data/merged_df.csv')