In [1]:
import numpy as np
import pandas as pd

In [2]:
monthly = pd.read_csv('../alt_data/monthly_data.csv')
quarterly = pd.read_csv('../alt_data/quarter_data.csv')

In [5]:
monthly['DATE'] = pd.to_datetime(monthly['DATE'])

In [6]:
quarterly['DATE'] = pd.to_datetime(quarterly['DATE'])

In [7]:
monthly.set_index('DATE', inplace=True)

In [8]:
quarterly.set_index('DATE', inplace=True)

In [11]:
monthly.shape

(890, 22)

In [12]:
quarterly.shape

(296, 5)

In [9]:
merged = pd.merge(monthly, quarterly, how='left', left_index=True, right_index=True)

In [10]:
merged.shape

(890, 27)

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 890 entries, 1947-01-01 to 2021-02-01
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   avg_weeks_unemployed           878 non-null    float64
 1   cont_claims_insur_unemploy     650 non-null    float64
 2   full_employ_level              878 non-null    float64
 3   part_employ_level              878 non-null    object
 4   not_in_labor_force             878 non-null    object
 5   gov_unemp_insur                746 non-null    float64
 6   labor_particip_women           878 non-null    float64
 7   labor_particip_men             878 non-null    float64
 8   labor_particip_total           878 non-null    float64
 9   real_estate_loans              890 non-null    float64
 10  consumer_loans                 890 non-null    float64
 11  commerc_indust_loans           890 non-null    float64
 12  m1_real                        746 non-null    float64
 13  unemp_less_five_weeks          878 non-null    float64
 14  unemp_5_to_14_wks              878 non-null    float64
 15  unemp_15_to_26_wks             878 non-null    float64
 16  unemp_over_27_wks              878 non-null    float64
 17  personal_consum_exp            746 non-null    float64
 18  personal_save_rate             746 non-null    float64
 19  emp_pop_ratio                  878 non-null    float64
 20  unemploy_rate                  878 non-null    float64
 21  insured_unemploy_rate          878 non-null    object
 22  corp_profit_aftertax_without   296 non-null    float64
 23  corp_profit_aftertax_with      296 non-null    float64
 24  corp_profit_beforetax_without  296 non-null    float64
 25  fed_debt_precent_gdp           220 non-null    float64
 26  m1_velocity                    248 non-null    float64
dtypes: float64(24), object(3)
memory usage: 227.0+ KB

In [17]:
# merged.to_csv('../alt_data/merged_data.csv', index=False)

In [27]:
merged[['corp_profit_aftertax_without','corp_profit_aftertax_with','corp_profit_beforetax_without']].interpolate(limit_direction='backward')

,corp_profit_aftertax_without,corp_profit_aftertax_with,corp_profit_beforetax_without
DATE,,,
1947-01-01,21.970000,9.959000,33.466000
1947-02-01,21.576000,11.173667,32.866667
1947-03-01,21.182000,12.388333,32.267333
1947-04-01,20.788000,13.603000,31.668000
1947-05-01,20.713333,13.691333,31.541333
...,...,...,...
2020-10-01,2082.470000,1951.445000,2425.326000
2020-11-01,NaN,NaN,NaN
2020-12-01,NaN,NaN,NaN
2021-01-01,NaN,NaN,NaN
2021-02-01,NaN,NaN,NaN

In [ ]:
merged[['corp_profit_aftertax_without','corp_profit_aftertax_with']].interpolate(limit_direction='backward')