In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
monthly_list = os.listdir('../alt_data/monthly_data/')
monthly_list

['avg_weeks_unemp.csv',
 'cont_claim_insur_unemp.csv',
 'employ_level.csv',
 'gov_unemp_insur.csv',
 'labor_force_partic_rate.csv',
 'loans.csv',
 'm1_real.csv',
 'not_in_labor_force.csv',
 'num_unemp_timeframe.csv',
 'personal_consump_exp.csv',
 'personal_save_rate.csv',
 'unemp_rate_emp_pop_ratio.csv']

In [18]:
list_of_dfs=[]

for csv in monthly_list:
    list_of_dfs.append(pd.read_csv(f'../alt_data/monthly_data/{csv}'))
    
list_of_dfs

[           DATE  UEMPMEAN
 0    1948-01-01       8.9
 1    1948-02-01       8.4
 2    1948-03-01       8.7
 3    1948-04-01       8.5
 4    1948-05-01       9.1
 ..          ...       ...
 873  2020-10-01      21.4
 874  2020-11-01      23.0
 875  2020-12-01      23.4
 876  2021-01-01      26.0
 877  2021-02-01      27.6

 [878 rows x 2 columns],
            DATE                  CCSA
 0    1967-01-01  1118750.000000000000
 1    1967-02-01  1162500.000000000000
 2    1967-03-01  1243250.000000000000
 3    1967-04-01  1281000.000000000000
 4    1967-05-01  1277500.000000000000
 ..          ...                   ...
 646  2020-11-01  5941750.000000000000
 647  2020-12-01  5274750.000000000000
 648  2021-01-01  4836800.000000000000
 649  2021-02-01  4354500.000000000000
 650  2021-03-01                     .

 [651 rows x 2 columns],
            DATE  CE16OV LNS12032194 LNS15000000
 0    1948-01-01   58061           .           .
 1    1948-02-01   58196           .           .
 2    1948-03-01   57671           .           .
 3    1948-04-01   58291           .           .
 4    1948-05-01   57854           .           .
 ..          ...     ...         ...         ...
 873  2020-10-01  149669        6668      100207
 874  2020-11-01  149809        6641      100548
 875  2020-12-01  149830        6170      100663
 876  2021-01-01  150031        5954      100690
 877  2021-02-01  150239        6088      100708

 [878 rows x 4 columns],
            DATE  W825RC1
 0    1959-01-01      3.4
 1    1959-02-01      3.1
 2    1959-03-01      2.9
 3    1959-04-01      2.8
 4    1959-05-01      2.6
 ..          ...      ...
 741  2020-10-01    304.3
 742  2020-11-01    280.8
 743  2020-12-01    304.3
 744  2021-01-01    555.5
 745  2021-02-01    537.0

 [746 rows x 2 columns],
            DATE  LNS11300002  LNS11300001  CIVPART
 0    1948-01-01         32.0         86.7     58.6
 1    1948-02-01         32.4         87.0     58.9
 2    1948-03-01         32.1         86.3     58.5
 3    1948-04-01         33.0         86.6     59.0
 4    1948-05-01         32.0         86.1     58.3
 ..          ...          ...          ...      ...
 873  2020-10-01         55.8         67.7     61.6
 874  2020-11-01         55.9         67.4     61.5
 875  2020-12-01         55.9         67.4     61.5
 876  2021-01-01         55.7         67.5     61.4
 877  2021-02-01         55.8         67.4     61.4

 [878 rows x 4 columns],
            DATE     REALLN   CONSUMER   BUSLOANS
 0    1947-01-01     6.7960     4.1612    11.2894
 1    1947-02-01     6.9551     4.2966    11.5179
 2    1947-03-01     7.1249     4.4306    11.7667
 3    1947-04-01     7.2966     4.5687    12.0269
 4    1947-05-01     7.4699     4.7087    12.2788
 ..          ...        ...        ...        ...
 885  2020-10-01  4680.5019  1518.7909  2696.5895
 886  2020-11-01  4667.5872  1520.5008  2649.0571
 887  2020-12-01  4659.1834  1522.4891  2617.1988
 888  2021-01-01  4676.0663  1521.5046  2582.0524
 889  2021-02-01  4653.4402  1524.9569  2602.4494

 [890 rows x 4 columns],
            DATE  M1REAL
 0    1959-01-01   478.8
 1    1959-02-01   480.7
 2    1959-03-01   482.2
 3    1959-04-01   482.1
 4    1959-05-01   484.5
 ..          ...     ...
 741  2020-10-01  2143.7
 742  2020-11-01  2318.7
 743  2020-12-01  2528.7
 744  2021-01-01  2574.4
 745  2021-02-01  6996.5

 [746 rows x 2 columns],
            DATE  LNS15000000
 0    1975-01-01        58627
 1    1975-02-01        59214
 2    1975-03-01        59052
 3    1975-04-01        59044
 4    1975-05-01        58820
 ..          ...          ...
 549  2020-10-01       100207
 550  2020-11-01       100548
 551  2020-12-01       100663
 552  2021-01-01       100690
 553  2021-02-01       100708

 [554 rows x 2 columns],
            DATE  UEMPLT5  UEMP5TO14  UEMP15T26  UEMP27OV
 0    1948-01-01   1188.0        507        183       128
 1    1948-02-01   1377.0        677        162       121
 2    1948-03-01   1279.0        830        182       110
 3    1948-04-01   1461.0        694        215       109
 4    1948-05-01   1146.0        671        220       109
 ..          ...      ...        ...        ...       ...
 873  2020-10-01   2494.0       2341       2651      3534
 874  2020-11-01   2455.0       2404       1875      3929
 875  2020-12-01   2904.0       2222       1572      3956
 876  2021-01-01   2278.0       2528       1346      4023
 877  2021-02-01   2185.0       2254       1407      4148

 [878 rows x 5 columns],
            DATE      PCE
 0    1959-01-01    306.1
 1    1959-02-01    309.6
 2    1959-03-01    312.7
 3    1959-04-01    312.2
 4    1959-05-01    316.1
 ..          ...      ...
 741  2020-10-01  14627.1
 742  2020-11-01  14532.8
 743  2020-12-01  14451.1
 744  2021-01-01  14939.1
 745  2021-02-01  14790.1

 [746 rows x 2 columns],
            DATE  PSAVERT
 0    1959-01-01     11.3
 1    1959-02-01     10.6
 2    1959-03-01     10.3
 3    1959-04-01     11.2
 4    1959-05-01     10.6
 ..          ...      ...
 741  2020-10-01     13.1
 742  2020-11-01     12.5
 743  2020-12-01     13.5
 744  2021-01-01     19.8
 745  2021-02-01     13.6

 [746 rows x 2 columns],
            DATE EMRATIO UNRATE               IURSA
 0    1948-01-01    56.6    3.4                   .
 1    1948-02-01    56.7    3.8                   .
 2    1948-03-01    56.1    4.0                   .
 3    1948-04-01    56.7    3.9                   .
 4    1948-05-01    56.2    3.5                   .
 ..          ...     ...    ...                 ...
 874  2020-11-01    57.4    6.7  4.0500000000000000
 875  2020-12-01    57.4    6.7  3.6000000000000000
 876  2021-01-01    57.5    6.3  3.4000000000000000
 877  2021-02-01    57.6    6.2  3.0750000000000000
 878  2021-03-01       .      .                   .

 [879 rows x 4 columns]]